<%= link_to ("<i class='fa fa-arrow-left' style='color:green'></i>" + "Back").html_safe, :back %>
<%= link_to ("<i class='fa fa-home' style='color:green'></i>" + "Home").html_safe, :root %>
<h1>Users Detail</h1>
<p>Find me in app/views/users/show.html.erb</p>
